<!-- ссылка на попап -->
<a href="#popupname" class="popup-link">sometext</a>

<!-- сам попап -->
<div id="popup" class="popup_1 popup">
    <div class="popup__body">
        <div class="popup__content">
            <a href="" class="popup__close">x</a>
            <div class="popup__title">Это модальное окно №1</div>
            <div class="popup__text">
 
            </div>
        </div>
    </div>
</div>
<div id="popup_2" class="popup_2 popup">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close">x</a>
            <div class="popup__title">Это модальное окно №2</div>
            <div class="popup__text">
    
            </div>
        </div>
    </div>
</div>


<!-- стандартная форма -->
<div id="writeus" class="popup writeus">
    <div class="popup__body wrapper">
        <div class="popup__content">
            <a href="#" class="popup__close"></a>
            <form action="" class="writeus__form">
                <div class="writeus__input">
                    <label>
                        <span class="writeus__title">Ваше имя:</span>
                        <input type="text" class="writeus__text" placeholder="Имя Фамилия">
                    </label>
                </div>
                <div class="writeus__input">
                    <label>
                        <span class="writeus__title">Ваш e-mail:</span>
                        <input type="email" class="writeus__text" placeholder="email@example.com">
                    </label>
                </div>
                <div class="writeus__textarea">
                    <span class="writeus__title">Текст письма:</span>
                    <textarea class="writeus__text" placeholder="В свободной форме"></textarea>
                </div>
                <button type="submit" class="writeus__btn btn btn--red">Отправить</button>
            </form>
        </div>
    </div>
</div>