@@include('./html/head.html',{
'lang':'ru',
'meta_desc': 'адаптивные спойлеры на js',
'title': 'Спойлеры'
})

<body>
    <div class="wrapper">
        <div data-spollers data-one-spoller class="block block_1">
            <div class="block__item">
                <button tabindex="-1" type="button" data-spoller class="block__title _active "><span>Обычный
                        спойлер
                        №1</span></button>
                <div class="block__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam facilis rem eum,
                    voluptatibus iure
                    necessitatibus doloribus, animi possimus laborum quo fuga sequi quae illo nihil sunt!
                    Provident
                    dolor ducimus quod.
                </div>
            </div>
            <div class="block__item">
                <button  type="button" data-spoller class="block__title">Обычный спойлер
                    №2</button>
                <div class="block__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam facilis rem eum,
                    voluptatibus iure
                    necessitatibus doloribus, animi possimus laborum quo fuga sequi quae illo nihil sunt!
                    Provident
                    dolor ducimus quod.
                </div>
            </div>
            <div class="block__item">
                <button  type="button" data-spoller class="block__title">Обычный спойлер
                    №3</button>
                <div class="block__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam facilis rem eum,
                    voluptatibus iure
                    necessitatibus doloribus, animi possimus laborum quo fuga sequi quae illo nihil sunt!
                    Provident
                    dolor ducimus quod.
                </div>
            </div>
        </div>
        <div data-spollers="650,min" class="block block_2">
            <div class="block__item">
                <button tabindex="-1" type="button" data-spoller class="block__title ">Спойлер работает на
                    экранах >=
                    650px</button>
                <div class="block__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam facilis rem eum,
                    voluptatibus iure
                    necessitatibus doloribus, animi possimus laborum quo fuga sequi quae illo nihil sunt!
                    Provident
                    dolor ducimus quod.
                </div>
            </div>
        </div>
        <div data-spollers="800, max" class="block block_3">
            <div class="block__item">
                <button tabindex="-1" type="button" data-spoller class="block__title">
                    Спойлер №1 работает на экранах меньше 800px </button>
                <div class="block__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam facilis rem eum,
                    voluptatibus
                    iure necessitatibus doloribus, animi possimus laborum quo fuga sequi quae illo nihil
                    sunt!
                    Provident dolor ducimus quod.
                </div>
            </div>
        </div>
    </div>

    @@include('./html/js.html',{})
</body>

</html>