 <!-- Слайдер -->
 <div class="sliderClass swiper-container">
    <!-- Обязательная оболочка слайдера -->
    <div class="sliderClass__wrapper swiper-wrapper">
        <div class="sliderClass__slide swiper-slide">
            <!-- контент внутри слайда -->
            <div class="sliderClass__image">
                <picture>
                    <source srcset="./img/01.webp" type="image/webp">
                    <img src="./img/01.jpg" alt="image1">
                </picture>
            </div>
        </div>
    </div>



    <!-- Добавляем если нам нужны стрелки управления -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <!-- Добавляем если нам нужна пагинация -->
    <div class="swiper-pagination"></div>
    <!-- Добавляем если нам нужна полоса прокрутки -->
    <div class="swiper-scrollbar"></div>
</div>