.checkbox {
    position: relative;
    &:not(:last-child){
        margin-bottom: em(15);
    }
    // .checkbox__input
    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:focus + .checkbox__label::before{
            box-shadow: 0 0 5px #000;
        }
        &:checked + .checkbox__label::before{
            background-color: #000;
        }
        &:disabled +.checkbox__label,
        &:disabled + .checkbox__label::before{
            cursor: auto;
            opacity: 0.3;
        }
    }
    // .checkbox__label
    &__label {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        position: relative;
        gap: rem(10);
        &::before{
            content: "";
            align-self: flex-start;
            flex: 0 0 rem(20);
            width: rem(20);
            height: rem(20);
            border: rem(1) solid #a7a9ac;
        }
    }
    // .checkbox__text
    &__text {
    }
}
