/*-------------- декорации ----------------*/

.block_1 .block__item {
    background-color: #77608d;
}

.block_2 .block__item {
    background-color: #794f45;
}

.block_3 .block__item {
    background-color: #7a956b;
}

/* ---------------------------------------- */




.block {
    width: 500px;
    // margin: 0px 0px 100px 0px;
  @include adaptiv-value("padding-bottom", 30, 10, 1);

    &__item {
        margin: 0 0 10px 0;
    }

    &__title {
        position: relative;
        width: 100%;
        padding: 10px;
        color: #fff;
        font-size: 18px;
        text-align: left;
        border: none;
        background-color: transparent;
    }

    &__text {
        padding: 0 10px 10px;
        line-height: 130%;
    }


    /* --- все визуальные атрибуты спойлера добавляются только по классу _init*/
    &._init {
        .block__title {
            cursor: pointer;
            padding: 10px 40px 10px 10px;
        }

        /* + и - тут может быть что угодно  */
        .block__title::before,
        .block__title::after {
            content: "";
            width: 20px;
            height: 1px;
            background-color: #fff;
            position: absolute;
            top: 20px;
            right: 10px;
            transition: transform 0.3s ease 0s;
        }

        .block__title::after {
            transform: rotate(90deg);
        }

        .block__title._active::after {
            transform: rotate(0deg);
        }
    }
}

