// ===== normalize =====
@import "../../node_modules/normalize.css/normalize";

// ===== СЕТКА =====
@import "smart-grid";

// ===== MIXINS =====
@import "mixins";

// ====== ПОДКЛЮЧАЕМ ШРИФТЫ ===== 
@import "fonts";
// Иконочный шрифт
@import "icons";
// ==========================================



// ===============  ОБНУЛЕНИЕ ===============
// smartgrid
@include reset();
// -----------------
// myreset
@include myreset();

//класс visually-hidden 
@include vh();

// обертка, размер задаем в smartgid.js
._wrapper {
    @include wrapper();
}

// ===== отладочный класс для отрисовки сетки в SmartGrid =====
// .debug_grid {
//     @include debug(rgba(0, 0, 0, 0.2), 1px solid aqua);
//     z-index: 1;
// }


// =============== ПЕРЕМЕННЫЕ ===============
// ==== переменные CSS ====
// :root{
// --green: #12af12;
// }

// ==== переменные SCSS ====
$minWidth:320px;
$maxWidth: 1920;
$maxWidthContainer: 1170+30; // тут без px
// брэйкпоинты(такие же как в смартгрид)
$lg: $maxWidthContainer+px;
$md: 992px;
$sm: 756px;
$xs: 576px;
$xxs: 360px;


// _wrapper без smart-grid
/*
._wrapper{
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 15px;
}*/

// шрифт по умолчанию
$fontFamily: 'OpenSans';
$fontSize: 14+px;

// цвета
$mainColor: #000;
$whiteColor: #fff;
$greyColor: #f2f2f2;
$darkColor: #283645;
$pinkColor: #d22856;
$orangeColor: #f25b26;
$greenColor: #3dc644;

// =============== RETINA ===============
// Retina x2
$retina: "-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi";

//  1.25 dpr 
// $retina: "-webkit-min-device-pixel-ratio: 1.25),(min-resolution: 120dpi";

//  1.3 dpr 
// $retina: "-webkit-min-device-pixel-ratio: 1.3),(min-resolution: 124.8dpi"; 

//  1.5 dpr
// $retina: "-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi"; 
// =========================================
// ==========================================


// =============== ОБЩИЕ СТИЛИ ===============
html,
body {
    height: 100%;
    line-height: 1;
    color: $mainColor;
    font-family: $fontFamily, sans-serif;
    font-size: $fontSize;

    &._lock {
        overflow: hidden;
    }
}

// ОБОЛОЧКА
._body-wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

// =============== подключаемые ===============
// ============ готовые классы ============
@import '_ui.scss';

// ========== SCLICK-SLIDER =========
// @import 'slick-custom';

// ========== SWIPER-SLIDER =========
// @import 'swiper-custom';

// =============== noUi ===============
// @import '../../node_modules/nouislider/dist/nouislider';
// @import '_noUi-custom';

// ============== ОСНОВНЫЕ ==============
// =============== HEADER ===============
@import '_header';

// =============== Главная  ===============
@import '_index';

// =============== FOOTER ===============
@import '_footer';

// =============== POPUP ===============
// @import '_popup';